<%= javascript_include_tag "tabling_slots.js" %>
<section>
  <% if @tabling_days.nil? %>
    <h1>No tabling slots yet!</h1>
    <% if current_member.admin? %>
      <%= link_to "Generate", generate_tabling_slots_url, class: "btn" %>
    <% end %>
  <% else %>
    <h1>Tabling for the week of <%= @earliest_time.strftime("%D") %></h1>

    <div class="right-align">
      <span><%= link_to "Previous week", tabling_slots_url(prev: @prev - 1) %></span>
      <% if @prev < 0 %>
        --- <span><%= link_to "Next week", tabling_slots_url(prev: @prev + 1) %></span>
      <% end %>
    </div>
    <% if current_member.admin? %>
      <%= link_to "Reroll", generate_tabling_slots_url, class: "btn", :style=>"display:none" %>
       <a href = "/tabling_slots/tabling_options" class = "btn">Generate New Slots</a>
    <% end %>
    <a href = "#" class = "btn" onclick = "alert('doesnt work yet, but what did the cannibal do to his girlfriend?...he dumped her!');">Request New Slot</a>
    <p><%= link_to "Print view", print_tabling_slots_url %></p>

    <% @tabling_days.each do |day, slots| %>
        <ul class="tabling"><%= day.strftime("%A, %D") %>
          <%= render slots %>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>
