<div class="row">
  <% if @tabling_days.nil? %>
    <h1>No tabling slots yet!</h1>
  <% else %>
    <h1>Tabling for the week of <%= @earliest_time.strftime("%D") %></h1>
    <p><%= link_to "Print view", print_tabling_slots_url %></p>
    <% @tabling_days.each do |day, slots| %>
      <div class=<%= day === Date.today ? "span4" : "span2" %>>
        <h3><%= day.strftime("%A, %D") %></h3>
        <ul>
          <%= render slots %>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>
