<section>
  <h1>Set event points</h1>
  <ul>
    <%= form_tag update_all_event_points_url, method: "post" do %>
      <% @event_points.each do |item| %>
        <li>

          <%= text_field_tag "points[]", item[:points] ,:type=>"text", :class=>"form-control point_input", :placeholder=>"Text input"%>
          <%= item[:event].name %>
          <%= hidden_field_tag "event_ids[]", item[:event].id %>

        </li>
      <% end %>

      <%= submit_tag "Update", class: "btn" %>
    <% end %>
  </ul>
</section>
<style type = "text/css">
.point_input {
  width: 50px;
  padding:2px;
  display:inline;
}
</style>