<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script> -->
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

<%= javascript_include_tag "points/d3_visualizations.js" %>
<style type = "text/css">
.bartext {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}
.bartext2{
  fill: black;
  font: 10px sans-serif;
}
.blackbar{
  fill:black;
}
.redbar{
  fill:red;
}
.points-section{
  margin: 13px;
}
.top-cm-img{
  border-radius: 10px;
}
</style>
<script type = "text/javascript">
// initialize array with name, committee, points -> this allows you to create bar graph of points + split by committee via d3
// points_hash = {};
points_hash = <%= @member_points_list.to_json.html_safe %>;
current_committee = '<%= current_member.current_committee.name %>';
committee_points_list = [];
<% Committee.all.each_with_index do |committee, index| %>
committee_points_list.push({'name':'<%= committee.name %>', 'points': parseFloat('<%= committee.rating %>')});
<% end %>
console.log(committee_points_list);
console.log(points_hash);
$(document).ready(function(){
  writeCommitteeRankings(committee_points_list, "#committee-rankings-container");
  writeTopCMs(points_hash, "#top-cm-container");
  visualizePointsList(points_hash);
  visualizeCommitteeBars(points_hash, '<%= current_member.current_committee.name %>', "#committee-chart");

});
</script>
<!-- <section> -->

<div style = "height:50px"></div>
<!-- your own points -->
<!-- here is the top layer of things, it will have the top cms and the top committees -->
<!-- a bunch of other random shit at the bottom -->
<div class = "row">
  <div class = "col-md-4">
    <b>Committee Rankings</b><br>
    <div id = "committee-rankings-container"></div>
  </div>
  <div class = "col-md-4">
    <b><%= current_member.current_committee.name %> Points</b><br>
    <svg id = "committee-chart"></svg>
  </div>
  <div class = "col-md-4" id = "recently-attended">
    <b>Your Points</b><br>
    <% @recent_points.keys.each do |event| %>
    <%= event.name %>
    <%= @recent_points[event] %><br>
    <% end %>
  </div>
</div>
<!-- end of first row -->
<div class = "row">
  <div class = "col-md-4">
    <b>Top CMs</b>
    <div id = "top-cm-container"></div>
  </div>
  <div class = "col-md-8">
    <svg id="all-points-chart"></svg>
  </div>
</div>

<div class = 'row' id = 'third-row'>
  <div class = 'col-md-4'>
    <b>Apprentice Rankings</b>
    <br>
    <a href = "/points/apprentice">click here for full apprentice results</a>
  </div>
  <div class = 'col-md-8'>
    <%= image_tag "/top cms snsd.png", :width => "600px", :class => "top-cm-img" %>
    <br>
    <span style = "font-size: 10px">
      Top CMs (left to right): Joey Choi, William Cheung, Logan Moy, Kevin Lee, Patrick Chang, Farrah Steven, Stephanie Cheng, David Cheung, Alice Chan
    </span>
  </div>
</div>