<h2>Attendance</h2>
<%= form_for current_member.event_members.build(event_id: event.id), html: { class: "form-inline" } do |f| %>
  <%= f.hidden_field :event_id %>
  <ul>
    <% current_member.cms.each do |member| %>
      <li class="<%= "checked" if member.attended?(event) %>">
      <%= label_tag :name, member.name, class: "check" %>
        <%= check_box_tag "member_ids[]", member.id, member.attended?(event) %>
      </li>
    <% end %>
  </ul>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>

<script>
  $(".check").click(function() {
    var checkbox;
    console.log(this);
    checkbox = $(this).siblings('input');
    checkbox.attr("checked", !checkbox.attr("checked"));
    $(this).parent().toggleClass('checked');
  });
</script>
