<style type = "text/css">
.attendance_form {
  float: left;
  /*border: 1px solid rgba(0,0,0,0.1);*/
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  width: 270px;
  background-color: white;
  text-align: center;
  margin: 15px;
  padding-bottom: 10px;
}
.check:hover {
  cursor: pointer;
}
</style>
<div class = "attendance_form">
  <div class = "box_header">CM Attendance Form</div>
<%= form_for current_member.event_members.build(event_id: event.id), html: { class: "form-inline" } do |f| %>
  <%= f.hidden_field :event_id, :value => event.id %>

    <% current_member.cms.each do |member| %>
      <div class="<%= "checked" if member.attended?(event) %>">
      <!-- <%= label_tag :name, member.name, class: "check" %> -->
      <div class = "check"><%= member.name %></div>
        <%= check_box_tag "member_ids[]", member.id, member.attended?(event) %>
      </div>
    <% end %>
    <br>
  <%= f.submit "Submit", :class=> "btn" %>
<% end %>
</div>
<script>
  $(".check").click(function() {
    var checkbox;
    console.log(this);
    checkbox = $(this).siblings('input');
    checkbox.attr("checked", !checkbox.attr("checked"));
    $(this).parent().toggleClass('checked');
  });
</script>
