<section>
  <h1>Your Saved Commitments</h1>
  <p>
    If all your events show up here, you're good!
  </p>
  <ul>
    <%= render @commitments %>
  </ul>
  <p><%= link_to "View all", preview_commitments_url, class: "btn btn-primary" %></p>
</section>

<% if current_member.admin? %>
  <section>
    <h1>Committee Submissions</h1>
    <p>
      The members who have submitted their commitments this week are
      <%= @submitted_members.to_sentence %>.
    </p>
  </section>

  <section>
    <h2>Submissions by committee</h2>
    <% Committee.all.each do |committee| %>
      <ul><%= committee.name %>
        <% committee.members.each do |member| %>
          <li>
            <%= "#{member.name}: #{member.commitments.count} commitments" %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </section>
<% end %>
