<div class="row">
  <h1>Your Saved Commitments</h1>
  <div class="span8">
    <ul>
      <%= render @commitments %>
    </ul>
  </div>
  <div class="span4">
    <p>
      If all your events show up here, you're good!
    </p>
  </div>
  <div class="span12">
    <p><%= link_to "View all", preview_commitments_url, class: "btn btn-primary" %></p>
  </div>
</div>
<% if current_member.admin? %>
  <hr>
  <h1>Committee Submissions</h1>
  <p>
    The members who have submitted their commitments this week are
    <%= @submitted_members.to_sentence %>.
  </p>
  <div class="row">
    <% Committee.all.each do |committee| %>
      <div class="span6">
        <h2><%= committee.name %></h2>
        <ul>
          <% committee.members.each do |member| %>
            <li>
              <%= "#{member.name}: #{member.commitments.count} commitments" %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>
