<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<style type = "text/css">
.form-control {
	margin-bottom:10px;
}
</style>
<%= javascript_include_tag "ckeditor/init" %>
<div style = "height: 25px"></div>
<%= form_for post do |f| %>
<div class = "row">
	<div class = "col-md-6 col-sm-6">
		<%= f.cktext_area :content, :value => "Default value", :id => "sometext" %>
	</div>
	<div class = "col-md-3 col-sm-3">

		<%= f.text_field :title, :class => "form-control", :placeholder => "Enter Post Title" %>
		<%= f.collection_select(:category_id, PostCategory.all, :id, :name, {prompt: "Select Post Category"}, {:class => "form-control"}) %>
		<%= f.select(:view_tier, Post.permissions, {prompt: "Select Who Can View"}, {:class => "form-control"}) %>
		<%= f.select(:edit_tier, Post.permissions, {prompt: "Select Who Can Edit"}, {:class => "form-control"}) %>
		<%= f.submit "Create Blogpost", :class => "btn btn-success form-control" %>
	</div>

</div>



<% end %>