
<%= javascript_include_tag "deliberations/deliberations_form2.js" %>
<script type = "text/javascript">
$(document).ready(function(){
	$("#submit_all").click(function(){
		submitForms('<%= @deliberation.id %>', '<%= @committee.id %>');
	});
});
</script>
<style type = "text/css">
.form{
	padding:5px;
	border:1px solid rgba(0,0,0,0.1);
	box-shadow:1px 1px 5px rgba(0,0,0,0.3);
	margin: 5px;
	overflow:hidden;
}
.add_image{
	float:right;
	height: 35px;
	z-index: 100;
}
.profile_img{
	height: 50px;
	opacity: 0.5;
}
.profile_img:hover{
	height: 100px;
	cursor:pointer;
}
.add_image:hover{
	cursor:pointer;
	height: 100px;
}
#ranking_table, th, td {
	border-collapse: collapse;
	border: 1px solid #ddd;
	padding: 1px;
	text-align: center;
	margin: 10px 25px;
}
th {
	background-color: maroon;
	color: white;
	width: 10%;
	font-weight: normal;
	padding: 5px;
}
th a {
	color: white;
}
td {
	background-color: white;
}
input[type = "text"] {
	width: 50px;
	padding:5px;
}
.pic {
	height: 100px;
	opacity: 0.5;
}
.pic:hover {
	cursor: pointer;
	opacity: 1;
}
.app_image:hover {
	height: 150px;
}
.selected {
	/*border: 3px solid green;*/
	opacity: 1;
}

/* button group at top styles*/
.btn-group a {
  color: black;
}
.btn-group .btn {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.btn-group .btn:hover {
  background-color: maroon;
  color: white;
}
.btn-group .btn:hover a {
  color: white;
}
</style>

<div style = "height: 25px; clear:both"></div>
    <div class="btn-group">
      <div type="button" class="btn btn-primary"><a id = "submit_all" href = "#" >update all rankings</a></div>

        <div type="button" class="btn btn-primary"><a href = "/auth/facebook">get facebook images</a></div>

       <div type="button" class="btn btn-primary"><%= link_to "see deliberation graph", @deliberation %></div>
    </div>
    <!-- end of button group -->
</div>

<h1>Rank Applicants For <%= @committee.name %></h1>
<div style = "height:25px"></div>
<div id = "image_area">
	<% if session[:pictures] %>
	<% session[:pictures].each do |pic| %>
	<img src = '<%= pic %>' class = "pic"></img>
	<% end %>
	<% end %>
</div>
<!-- end of image area -->
<table id = "ranking_table">
	<thead>
		<th>applicant</th>
		<th>ranking</th>
		<th>images</th>
	</thead>
	<tbody>
	<% @rankings.each do |ranking| %>
		<tr class = "ranking_row" id = '<%= ranking.id %>'>
			<td class = "applicant" id = '<%= ranking.get_applicant.id %>'><%= ranking.get_applicant.name %></td>
			<td class = "value"><input class = "rank" type = "text" id = '<%= ranking.id %>' value = '<%= ranking.value %>'/></td>
			<td class = "image" id = '<%= ranking.get_applicant.id %>'><img src = '<%= ranking.get_applicant.image %>' height = "50" class = "app_image"></img></td>
		</tr>
	<% end %>

	</tbody>
</table>



