<header class="header">
  <nav>
    <ul>
      <li class="logo"><%= link_to "[PBL][MP]", root_path%></li>
      <% if current_member %>
        <li><%= link_to "Tabling", tabling_slots_url %></li>
        <li><%= link_to "Events", events_url %></li>
        <li><%= link_to "Points", points_url %></li>
        <li><%= link_to "Reimbursements", reimbursements_url %></li>
        <li><a href = "/commitments/availability">Commitments</a></li>
      <% end %>
      <% if current_member %>
        <li class="pull-right"><%= link_to current_member.name, "#" %></li>
        <li class="pull-right"><%= link_to "Sign out", signout_path, method: :delete %></li>
      <% else %>
        <li class="pull-right"><%= link_to "Sign in", root_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
