
<style type = "text/css">
#navlist {
  padding: 10px;
}
#navlist a {
  color: black;
}
#navlist .logo a {
  color: white;
}
#navlist .logo {
  margin-right: 10px;
}
#top_nav #navlist li a:hover {
  background-color: maroon;
  color: white;
}
</style>
<header class="header">
  <nav  id = "top_nav" class = "navbar navbar-default navbar-fixed-top" role = "navigation">
    <ul id = "navlist" class="nav nav-pills">
      <li class="logo active"><%= link_to "[PBL][MP]", root_path%></li>
      <% if current_member %>
        <li><%= link_to "Tabling", tabling_slots_url %></li>
        <li><%= link_to "Events", events_url %></li>
        <li><%= link_to "Points", points_url %></li>
        <li><a href = "https://docs.google.com/spreadsheet/viewform?usp=drive_web&formkey=dGxYRzMwYlBkYjlTd1NUSzYzWHk0UXc6MQ#gid=0">Reimbursements</a></li>
        <li><a href = "/commitments/availability">Commitments</a></li>
        <li><a href = "http://alicesun94.wix.com/berkeleypblsblc">SBLC</a></li>
        <li><a href = "/deliberations">Deliberations</a></li>
        <% if current_member.admin? or current_member.officer? %>
        <li><%= link_to "Blog", posts_url %></li>
        <li><a href = "https://docs.google.com/forms/d/1ezJvHxyIV4E0rrsyAG21DzgkeRuLDEi587MwPHwxKnc/viewform">Event Feedback</a></li>
        <li><a href = "https://docs.google.com/spreadsheet/ccc?key=0Aq4mvWynvj_ddFNHMTFnc0oxSUZqUjJvZU5RcHhtYVE&usp=drive_web#gid=0">Scorecard</a></li>

        <% end %>


      <% end %>
      <% if current_member %>
        <li class="pull-right"><%= link_to current_member.name, "#" %></li>
        <li class="pull-right"><%= link_to "Sign out", signout_path, method: :delete %></li>
      <% else %>
        <li class="pull-right"><%= link_to "Sign in", root_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
