<% if current_member.old_member.nil? %>
  <section>
    <p>Is this you?</p>
    <ul>
      <%= render current_member.find_old_members %>
    </ul>
  </section>
<% else %>

  <!-- <section> -->
  <div class="panel panel-default homepanel">
    <div class="panel-heading"><h1><%= current_member.name %></h1></div>
    <div class = "panel-body">
    <% if current_member.primary_committee %>
    <p><%= "#{current_member.primary_committee.name}, #{current_member.position}" %></p>
    <% else %>
    <p>no committee this semester</p>
    <% end %>
  </div>
  </div>
  <!-- </section> -->

  <% if @tabling_slots and not @tabling_slots.empty? %>
    <!-- <section> -->
    <div class="panel panel-default homepanel">
      <div class="panel-heading"><h2>Your tabling slots for this week</h2></div>
      <div class = "panel-body">
      <% @tabling_slots.each do |slot| %>
        <ul>
          <div class="label label-default dayheading"><%= slot.start_time.strftime("%A, %D - %l:%M%p") %></div>
          <div style = "height:15px"></div>
          <% slot.members.each do |member| %>
            <li><%= member.name %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    </div>
    <!-- </section> -->
  <% end %>

  <!-- <section> -->
  <div class="panel panel-default homepanel">
     <div class="panel-heading"><h2>Your Committee Points: <%= current_member.total_points %></h2></div>
     <div class = "panel-body">
      <p>Committee rating: <%= current_member.primary_committee.rating if current_member.primary_committee %></p>
      <p><%= link_to "View details", points_url %></p>
    </div>
  <!-- </section> -->
</div>


<% end %>
<style type = "text/css">
.homepanel {
  margin-top: 35px;
  width: 500px;
  margin-left: 50px;
}
.homepanel .panel-heading {
  text-align: center;
}
.homepanel .panel-body {
  padding: 20px;
}
ul {
  list-style-type: none
}
</style>